body {
    background-color: aliceblue;
    min-height: 100vh;
    max-height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
}
.App {
    border: solid white;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    color: midnightblue;
}